html {
  position: relative;
  min-height: 100%; }

@font-face {
  font-family: '8bitOperatorPlus-Regular';
  src: url("../fonts/8bitOperatorPlus-Regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/8bitOperatorPlus-Regular.woff") format("woff"), url("../fonts/8bitOperatorPlus-Regular.ttf") format("truetype"), url("../fonts/8bitOperatorPlus-Regular.svg#8bitOperatorPlus-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: '8bitOperatorPlus-Bold';
  src: url("../fonts/8bitOperatorPlus-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/8bitOperatorPlus-Bold.woff") format("woff"), url("../fonts/8bitOperatorPlus-Bold.ttf") format("truetype"), url("../fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: black;
  margin-bottom: 60px;
  color: #ffffff;
  font-family: "8bitOperatorPlus-Bold", monospace; }
  @media screen and (max-width: 767px) {
    body {
      margin-bottom: 140px; } }

h1, h2, h3, h4, h5, h6, strong {
  font-family: "8bitOperatorPlus-Bold", monospace;
  font-weight: normal;
  margin: 0; }

h2 {
  font-size: 40px;
  margin-top: 5px; }

h3 {
  font-size: 22px;
  letter-spacing: -0.7;
  margin-bottom: 10px; }

h4 {
  font-size: 16px;
  letter-spacing: 3;
  margin-top: 20px;
  margin-bottom: 20px; }

h6 {
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: -0.5; }

.yellow {
  color: #F9FF10; }

img.small-img {
  height: 12px;
  width: 12px; }

nav.navbar {
  background-color: #383838;
  border-radius: 0;
  border: none;
  max-height: 50px; }
  @media screen and (max-width: 767px) {
    nav.navbar {
      max-height: 1000px; }
      nav.navbar .container {
        margin-top: 54px; } }

nav > .flags {
  float: right;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  nav > .flags li {
    float: left;
    position: relative;
    display: block;
    padding-right: 10px; }
    nav > .flags li a, nav > .flags li img {
      padding: 12px 0; }
      @media screen and (max-width: 767px) {
        nav > .flags li a, nav > .flags li img {
          padding: 14px 0; } }
      nav > .flags li a:hover, nav > .flags li img:hover {
        opacity: 0.9; }

.nav > li > a, .footer a {
  color: #878787;
  text-shadow: 0 2px #000000;
  font-size: 18px;
  padding: 15px 0; }

.nav > li > a:hover, .footer a:hover, .nav > li > a:focus, .footer a:focus {
  color: #CCCCCC;
  text-decoration: none;
  background-color: inherit; }

#top_nav .nav-justified {
  padding: 0; }
  @media screen and (min-width: 992px) {
    #top_nav .nav-justified {
      padding: 0 90px; } }
  @media screen and (min-width: 1200px) {
    #top_nav .nav-justified {
      padding: 0 180px; } }

.navbar-toggle {
  float: left;
  margin: 4px 0 0 0;
  padding: 14px; }
  .navbar-toggle .menu-text {
    color: #878787;
    text-shadow: 0 2px #000000;
    float: left;
    padding-left: 40px;
    padding-top: 6px;
    font-size: 20px;
    line-height: 0.1; }
  .navbar-toggle .icon-bar {
    padding-top: 3px;
    background-color: #878787;
    box-shadow: 0 2px #000000; }

.wrapper {
  margin-top: 50px;
  padding-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .wrapper {
      margin-top: 20px; } }

.main {
  text-align: center; }
  .main .row {
    margin-top: 25px; }
  .main .no-margin {
    margin: 0; }

#logo {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }
  #logo img {
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      #logo img {
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (min-width: 768px) {
      #logo img {
        padding-left: 68px;
        padding-right: 34px; } }
    @media screen and (min-width: 992px) {
      #logo img {
        padding-left: 20px;
        padding-right: 0; } }
    @media screen and (min-width: 1200px) {
      #logo img {
        padding-left: 80px;
        padding-right: 50px; } }

.buy-button-wrapper {
  padding: 0 10px; }
  @media screen and (min-width: 768px) {
    .buy-button-wrapper:first-child {
      text-align: right; } }
  @media screen and (min-width: 768px) {
    .buy-button-wrapper:last-child {
      text-align: left; } }

.store-logo a:hover img {
  opacity: 0.9; }

@media screen and (max-width: 767px) {
  .store-logo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; } }

@media screen and (min-width: 768px) {
  .store-logo:first-child {
    text-align: right;
    padding-top: 10px; } }

@media screen and (max-width: 767px) {
  .store-logo:first-child {
    text-align: center; } }

@media screen and (min-width: 768px) {
  .store-logo:last-child {
    text-align: left; } }

@media screen and (max-width: 767px) {
  .store-logo:last-child {
    text-align: center; } }

#buy.buy-button {
  display: inline-block;
  border-radius: 8px;
  border: none;
  padding: 2px;
  margin-top: 10px;
  min-height: 72px;
  max-width: 300px; }
  #buy.buy-button .button-contents {
    padding: 8px 4px;
    border-radius: 8px;
    min-height: 68px; }
    #buy.buy-button .button-contents .button-icon {
      float: left; }
    #buy.buy-button .button-contents p {
      padding: 6px 5px 6px 50px; }

.btn p {
  color: #ffffff;
  text-shadow: 0 2px #000000;
  font-size: 22px;
  line-height: 1.1;
  margin: 0; }
  .btn p small {
    font-size: 12px;
    letter-spacing: 0.2; }

.steam-button:hover {
  background: #004158;
  background: -moz-linear-gradient(top, #004158 0%, #00668c 100%);
  background: -webkit-linear-gradient(top, #004158 0%, #00668c 100%);
  background: linear-gradient(to bottom, #004158 0%, #00668c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004158', endColorstr='#00668c',GradientType=0 ); }
  .steam-button:hover .button-contents {
    background: #00668c;
    background: -moz-linear-gradient(top, #00668c 0%, #004158 100%);
    background: -webkit-linear-gradient(top, #00668c 0%, #004158 100%);
    background: linear-gradient(to bottom, #00668c 0%, #004158 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00668c', endColorstr='#004158',GradientType=0 ); }

.steam-button, .steam-button:active > .button-contents {
  background: #002138;
  background: -moz-linear-gradient(top, #002138 0%, #00466c 100%);
  background: -webkit-linear-gradient(top, #002138 0%, #00466c 100%);
  background: linear-gradient(to bottom, #002138 0%, #00466c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002138', endColorstr='#00466c',GradientType=0 ); }

.steam-button > .button-contents {
  background: #00466c;
  background: -moz-linear-gradient(top, #00466c 0%, #002138 100%);
  background: -webkit-linear-gradient(top, #00466c 0%, #002138 100%);
  background: linear-gradient(to bottom, #00466c 0%, #002138 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00466c', endColorstr='#002138',GradientType=0 ); }
  .steam-button > .button-contents .button-icon {
    padding: 3px 5px; }

.humble-button:hover {
  background: #88040E;
  background: -moz-linear-gradient(top, #88040E 0%, #CC0718 100%);
  background: -webkit-linear-gradient(top, #88040E 0%, #CC0718 100%);
  background: linear-gradient(to bottom, #88040E 0%, #CC0718 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88040E', endColorstr='#CC0718',GradientType=0 ); }
  .humble-button:hover .button-contents {
    background: #CC0718;
    background: -moz-linear-gradient(top, #CC0718 0%, #88040E 100%);
    background: -webkit-linear-gradient(top, #CC0718 0%, #88040E 100%);
    background: linear-gradient(to bottom, #CC0718 0%, #88040E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC0718', endColorstr='#88040E',GradientType=0 ); }

.humble-button, .humble-button:active > .button-contents {
  background: #6C040E;
  background: -moz-linear-gradient(top, #6C040E 0%, #A40718 100%);
  background: -webkit-linear-gradient(top, #6C040E 0%, #A40718 100%);
  background: linear-gradient(to bottom, #6C040E 0%, #A40718 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6C040E', endColorstr='#A40718',GradientType=0 ); }

.humble-button > .button-contents {
  background: #A40718;
  background: -moz-linear-gradient(top, #A40718 0%, #6C040E 100%);
  background: -webkit-linear-gradient(top, #A40718 0%, #6C040E 100%);
  background: linear-gradient(to bottom, #A40718 0%, #6C040E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A40718', endColorstr='#6C040E',GradientType=0 ); }
  .humble-button > .button-contents .button-icon {
    padding: 4px 10px; }

@media screen and (min-width: 768px) {
  .playstation-button {
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 10px; } }

@media screen and (max-width: 767px) {
  .playstation-button .button-contents p {
    padding: 0; } }

.playstation-button:hover {
  background: #3076A6;
  background: -moz-linear-gradient(top, #3076A6 0%, #6CA5E8 100%);
  background: -webkit-linear-gradient(top, #3076A6 0%, #6CA5E8 100%);
  background: linear-gradient(to bottom, #3076A6 0%, #6CA5E8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3076A6', endColorstr='#6CA5E8',GradientType=0 ); }
  .playstation-button:hover .button-contents {
    background: #6CA5E8;
    background: -moz-linear-gradient(top, #6CA5E8 0%, #3076A6 100%);
    background: -webkit-linear-gradient(top, #6CA5E8 0%, #3076A6 100%);
    background: linear-gradient(to bottom, #6CA5E8 0%, #3076A6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6CA5E8', endColorstr='#3076A6',GradientType=0 ); }

.playstation-button, .playstation-button:active > .button-contents {
  background: #105696;
  background: -moz-linear-gradient(top, #105696 0%, #4C95C8 100%);
  background: -webkit-linear-gradient(top, #105696 0%, #4C95C8 100%);
  background: linear-gradient(to bottom, #105696 0%, #4C95C8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105696', endColorstr='#4C95C8',GradientType=0 ); }

.playstation-button > .button-contents {
  background: #4C95C8;
  background: -moz-linear-gradient(top, #4C95C8 0%, #105696 100%);
  background: -webkit-linear-gradient(top, #4C95C8 0%, #105696 100%);
  background: linear-gradient(to bottom, #4C95C8 0%, #105696 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C95C8', endColorstr='#105696',GradientType=0 ); }
  .playstation-button > .button-contents .button-icon {
    padding: 0 5px; }

#preorder_now {
  padding-bottom: 10px; }
  #preorder_now h4 {
    margin-bottom: 10px; }
  #preorder_now a {
    display: block;
    color: #ffffff; }
    #preorder_now a:hover, #preorder_now a:active, #preorder_now a:focus {
      text-decoration: none; }
      #preorder_now a:hover h4, #preorder_now a:active h4, #preorder_now a:focus h4 {
        color: #eeeeee; }
      #preorder_now a:hover img, #preorder_now a:active img, #preorder_now a:focus img {
        opacity: 0.9; }
  #preorder_now img {
    max-width: 325px;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      #preorder_now img {
        max-width: 250px; } }

#announcement a {
  display: block;
  color: #ffffff; }
  #announcement a:hover, #announcement a:active, #announcement a:focus {
    text-decoration: none;
    color: #eeeeee; }

@media screen and (max-width: 767px) {
  #announcement h2 {
    font-size: 28px; } }

#platforms {
  margin: 30px 0; }
  #platforms img {
    max-height: 30px;
    width: auto;
    max-width: 100%; }
  #platforms li > a {
    border: 1px solid #717171;
    border-radius: 0;
    background-color: #2b2b2b;
    margin-left: 15px;
    margin-right: 15px; }
    #platforms li > a:hover {
      background-color: #717171; }
  #platforms li.active > a {
    background-color: #7b7b7b; }
    @media screen and (min-width: 768px) {
      #platforms li.active > a:after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 46%;
        height: 1px;
        width: 1px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #434343; }
      #platforms li.active > a.on-left:after {
        left: 80%; }
      #platforms li.active > a.on-right:last-child:after {
        left: 14%; } }
  @media screen and (max-width: 768px) {
    #platforms li {
      display: inline; }
      #platforms li a {
        margin-left: 0;
        margin-right: 0;
        width: 49%;
        display: inline-block; } }

#buy_now {
  margin-top: -6px;
  padding: 0;
  max-width: 914px; }
  #buy_now .tab-pane {
    padding: 20px;
    background: url("../images/bg-dotmatrix.png") #747474 repeat-x;
    background-position-y: bottom; }
  #buy_now .row {
    margin-top: 0; }
  #buy_now .se-thumb {
    padding: 0; }
    #buy_now .se-thumb img {
      max-width: 100%;
      height: auto; }
  #buy_now .buy-zone {
    margin-top: 20px; }
    @media screen and (max-width: 768px) {
      #buy_now .buy-zone {
        margin-top: 30px; } }
    #buy_now .buy-zone.alt-margins .buy-button {
      margin: 0; }
    @media screen and (min-width: 768px) {
      #buy_now .buy-zone.alt-margins {
        padding: 0; }
        #buy_now .buy-zone.alt-margins .buy-button {
          padding: 10px; }
          #buy_now .buy-zone.alt-margins .buy-button img {
            padding-top: 8px; } }
    #buy_now .buy-zone h5 {
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 16px;
      letter-spacing: 1px;
      line-height: 14px; }
    @media screen and (min-width: 768px) {
      #buy_now .buy-zone {
        margin-top: 36px; }
        #buy_now .buy-zone.shove-right h5 {
          margin-left: 15px; }
        #buy_now .buy-zone.shove-right .buy-button {
          margin-right: 0;
          margin-left: 15px; } }
  @media screen and (min-width: 768px) {
    #buy_now .inline-desktop {
      display: inline-block;
      margin: 0 !important; }
    #buy_now .mt-desktop {
      margin-top: 15px !important;
      margin-bottom: 10px !important; } }
  @media screen and (max-width: 768px) {
    #buy_now .inline-desktop {
      margin-top: 15px !important; } }
  #buy_now .buy-button {
    display: inline-block;
    min-height: 68px;
    margin: 0 20px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 15px; }
    @media screen and (min-width: 768px) {
      #buy_now .buy-button {
        padding: 10px 20px; } }
    #buy_now .buy-button:hover, #buy_now .buy-button:active, #buy_now .buy-button:focus {
      background-color: rgba(255, 255, 255, 0.3); }
    #buy_now .buy-button img {
      max-width: 100%;
      max-height: 42px;
      height: auto; }
    #buy_now .buy-button.center-fg {
      padding: 11px 10px; }
    #buy_now .buy-button.big-fg small {
      color: white !important;
      text-transform: uppercase; }
    #buy_now .buy-button.big-fg img {
      display: block;
      margin-top: -5px; }
    #buy_now .buy-button.big-fg:hover, #buy_now .buy-button.big-fg:active, #buy_now .buy-button.big-fg:focus {
      text-decoration: none !important; }
    #buy_now .buy-button.but-inline {
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 10px; }
      @media screen and (max-width: 768px) {
        #buy_now .buy-button.but-inline {
          margin: 0 5px 10px 0; } }
    #buy_now .buy-button.and-small {
      padding: 19px 15px 8px 15px;
      margin-left: 5px !important; }
      #buy_now .buy-button.and-small img {
        max-height: 24px; }
    #buy_now .buy-button.disabled {
      opacity: 0.75;
      cursor: default; }
      #buy_now .buy-button.disabled:after {
        content: "";
        position: absolute;
        bottom: -24px;
        left: 0;
        right: 0;
        color: white; }
      #buy_now .buy-button.disabled:hover, #buy_now .buy-button.disabled:active, #buy_now .buy-button.disabled:focus {
        background: rgba(255, 255, 255, 0.15); }
    #buy_now .buy-button.soon:after {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 0;
      right: 0;
      color: white; }
  #buy_now .ce-button {
    display: block;
    margin-top: 20px; }
    #buy_now .ce-button img {
      max-width: 100%;
      height: auto; }
  #buy_now #switch {
    background-color: #e5141f; }
  #buy_now #ps4, #buy_now #psvita {
    background-color: #297ca8; }
  #buy_now .divider {
    margin-top: 40px; }
    @media screen and (min-width: 768px) {
      #buy_now .divider {
        margin-top: 16px; } }
    #buy_now .divider span {
      font-size: 32px;
      margin-top: -24px;
      display: inline-block; }
    #buy_now .divider hr {
      width: 25%;
      border-top: 2px solid white;
      margin: 0 auto; }
      #buy_now .divider hr.left {
        float: left;
        display: none; }
        @media screen and (min-width: 768px) {
          #buy_now .divider hr.left {
            display: inline-block; } }
      #buy_now .divider hr.right {
        float: right;
        display: none; }
        @media screen and (min-width: 768px) {
          #buy_now .divider hr.right {
            display: inline-block; } }

#newsletter_signup form {
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    #newsletter_signup form {
      padding: 0 50px; } }

#newsletter_signup .alert-info {
  background-color: #383838;
  border: 2px solid #878787;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 0 2px #000000;
  padding-bottom: 25px; }
  #newsletter_signup .alert-info p {
    font-size: 12px; }

#newsletter_signup .alert-top {
  margin: 10px; }
  #newsletter_signup .alert-top span {
    text-transform: uppercase;
    padding: 0 8px; }

@media screen and (min-width: 1200px) {
  #newsletter_signup {
    padding: 0 80px; } }

#newsletter_signup #mce-success-response {
  padding: 20px; }

#newsletter_signup div.mce_inline_error {
  position: absolute;
  display: inline;
  left: 0;
  right: 0;
  top: -40px; }

#newsletter_signup .mc-field-group {
  margin-bottom: 10px; }
  @media screen and (max-width: 767px) {
    #newsletter_signup .mc-field-group {
      width: 100%; } }
  #newsletter_signup .mc-field-group .input-group-addon:first-child {
    background: #2b2b2b;
    border-top: 2px solid #878787;
    border-left: 2px solid #878787;
    border-bottom: 2px solid #878787;
    border-right: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    padding-right: 2px; }
    @media screen and (max-width: 767px) {
      #newsletter_signup .mc-field-group .input-group-addon:first-child {
        display: none; } }
  #newsletter_signup .mc-field-group input.form-control {
    height: 54px;
    line-height: 54px;
    padding: 0 15px; }
  #newsletter_signup .mc-field-group .form-control {
    border-top: 2px solid #878787;
    border-left: none;
    border-bottom: 2px solid #878787;
    border-right: 2px solid #878787;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #2b2b2b;
    padding: 25px 10px;
    color: #fff; }
    @media screen and (max-width: 767px) {
      #newsletter_signup .mc-field-group .form-control {
        border: 2px solid #878787;
        border-radius: 10px;
        text-align: center; } }
  #newsletter_signup .mc-field-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 15px 5px 62px !important;
    border: 2px solid #878787 !important;
    height: 50px;
    border-radius: 10px; }
    @media screen and (max-width: 767px) {
      #newsletter_signup .mc-field-group select {
        padding: 5px 15px !important;
        text-align: center; } }
    #newsletter_signup .mc-field-group select option:first-child {
      color: #878787; }
  #newsletter_signup .mc-field-group .select-icon {
    position: absolute;
    left: 18px;
    top: 16px;
    width: 30px; }
    @media screen and (max-width: 767px) {
      #newsletter_signup .mc-field-group .select-icon {
        display: none; } }

#newsletter_signup .signup-button {
  background: #878787;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 0 2px #000000;
  padding: 10px;
  width: 100%;
  display: block;
  margin: 0 20px 0 0; }
  #newsletter_signup .signup-button input {
    color: #ffffff; }
    #newsletter_signup .signup-button input:hover, #newsletter_signup .signup-button input:focus {
      background: #a1a0a0; }
    #newsletter_signup .signup-button input:active {
      background: #7a7a7a; }

.modal .modal-content {
  background: #383838;
  border: 2px solid #878787; }
  .modal .modal-content .modal-header {
    border: none; }
  .modal .modal-content .modal-title {
    text-shadow: 0 2px #000000; }
  .modal .modal-content .close {
    color: #878787;
    opacity: 1;
    text-shadow: 0 2px #000000;
    font-size: 24px; }
    .modal .modal-content .close:hover, .modal .modal-content .close:active {
      color: #a1a0a0; }

.modal .panel {
  border: 2px solid #878787;
  background: #4D4D4D; }
  .modal .panel .panel-heading {
    padding: 0;
    background: #878787;
    border: none;
    text-shadow: 0 2px #000000;
    text-transform: uppercase;
    color: #ffffff; }
    .modal .panel .panel-heading a {
      display: block;
      width: 100%;
      padding: 10px; }
      .modal .panel .panel-heading a:focus {
        color: #ffffff;
        text-decoration: none; }
      .modal .panel .panel-heading a:hover, .modal .panel .panel-heading a:active {
        color: #dddddd;
        text-decoration: none; }
  .modal .panel .panel-body {
    border: none; }

#patch_notes {
  text-align: left; }

#about {
  margin-top: 30px; }
  #about h3 {
    margin-top: 15px;
    line-height: 1.4;
    color: #BBBBBB; }
    @media screen and (min-width: 992px) {
      #about h3 {
        padding: 0 120px; } }
  #about h6 {
    margin-top: 25px; }
  #about .screenshot {
    padding: 0; }
  #about .social-icons a {
    padding-left: 5px; }

#download_links a {
  font-size: 22px;
  color: #FFEF06; }
  #download_links a:hover, #download_links a:active, #download_links a:focus {
    opacity: 0.9; }

#contact a, #email a {
  color: #ffffff; }
  #contact a:hover, #contact a:active, #email a:hover, #email a:active {
    text-decoration: none; }
    #contact a:hover h3, #contact a:hover #faq-arrow, #contact a:active h3, #contact a:active #faq-arrow, #email a:hover h3, #email a:hover #faq-arrow, #email a:active h3, #email a:active #faq-arrow {
      opacity: 0.9; }
  #contact a:focus, #email a:focus {
    text-decoration: none; }

#contact h2, #email h2 {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 30px; }

#contact h3, #email h3 {
  margin-top: 20px;
  line-height: 1.4; }

#contact #faq-arrow, #email #faq-arrow {
  position: relative; }
  #contact #faq-arrow span, #email #faq-arrow span {
    position: absolute;
    bottom: 65px;
    font-size: 12px;
    letter-spacing: -0.5; }
    @media screen and (max-width: 767px) {
      #contact #faq-arrow span, #email #faq-arrow span {
        position: relative;
        bottom: 30px; } }
    @media screen and (min-width: 768px) {
      #contact #faq-arrow span, #email #faq-arrow span {
        right: -40px; } }
    @media screen and (min-width: 992px) {
      #contact #faq-arrow span, #email #faq-arrow span {
        right: 30px; } }
    @media screen and (min-width: 1200px) {
      #contact #faq-arrow span, #email #faq-arrow span {
        right: 100px; } }
  #contact #faq-arrow img, #email #faq-arrow img {
    position: absolute;
    bottom: 30px; }
    @media screen and (max-width: 767px) {
      #contact #faq-arrow img, #email #faq-arrow img {
        display: none; } }
    @media screen and (min-width: 768px) {
      #contact #faq-arrow img, #email #faq-arrow img {
        right: 90px; } }
    @media screen and (min-width: 992px) {
      #contact #faq-arrow img, #email #faq-arrow img {
        right: 160px; } }
    @media screen and (min-width: 1200px) {
      #contact #faq-arrow img, #email #faq-arrow img {
        right: 230px; } }

#faq, #troubleshooting {
  text-align: left; }
  #faq h2, #troubleshooting h2 {
    text-align: center;
    margin-bottom: 50px;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  #faq h3, #troubleshooting h3 {
    margin-top: 30px; }
    #faq h3.faq-header, #troubleshooting h3.faq-header {
      font-size: 32px;
      margin-top: 50px; }
  #faq .question, #faq .issue, #troubleshooting .question, #troubleshooting .issue {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.4; }
  #faq .answer, #faq .resolve, #faq ol, #troubleshooting .answer, #troubleshooting .resolve, #troubleshooting ol {
    font-size: 14px;
    font-family: "8bitOperatorPlus-Regular", monospace; }
  #faq .trouble, #troubleshooting .trouble {
    margin-top: 20px; }
    #faq .trouble p, #troubleshooting .trouble p {
      margin-bottom: 5px; }
    #faq .trouble .issue:before, #troubleshooting .trouble .issue:before {
      content: 'Problema: ';
      color: #ff0000; }
    #faq .trouble .resolve:before, #troubleshooting .trouble .resolve:before {
      content: 'Solución: ';
      color: #00ff00; }
  #faq .question:before, #troubleshooting .question:before {
    content: 'P: ';
    font-family: "8bitOperatorPlus-Bold", monospace; }
  #faq .answer:before, #troubleshooting .answer:before {
    content: 'R: ';
    font-family: "8bitOperatorPlus-Bold", monospace; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 58px;
  background-color: #383838; }

  .footer #footer-dog {
    position: absolute;
    top: -50px;
    left: 16px;
    background-image: url("../images/dog-bark.png");
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    background-size: 50px 50px; }
    .footer #footer-dog img {
      height: 50px;
      width: 50px; }
    .footer #footer-dog:hover {
      background-position: 0 0; }
      .footer #footer-dog:hover img {
        opacity: 0; }
  @media screen and (min-width: 992px) {
    .footer .container {
      padding: 0 90px; } }
  @media screen and (min-width: 1200px) {
    .footer .container {
      padding: 0 190px; } }
  @media screen and (max-width: 767px) {
    .footer {
      height: 150px;
      text-align: center; }
      .footer .footer-link {
        display: block;
        line-height: 20px; } }
  @media screen and (min-width: 768px) {
    .footer .footer-link small {
      margin-left: 30px;
      font-size: 12px; } }
  @media screen and (min-width: 768px) {
    .footer .social-icons {
      float: right; } }
  .footer .social-icons img {
    padding: 10px 5px; }
    .footer .social-icons img:hover {
      opacity: 0.9; }
    @media screen and (max-width: 767px) {
      .footer .social-icons img {
        padding: 0 5px; } }
